* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.file-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;

    
    .container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .title {
            font-size: 22px;
            font-weight: 700;
        }
        .names {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}

